@font-face {
	font-family: 'Tungsten-Bold';
	src: url('Tungsten-Bold.woff') format('woff'), 
	     url('Tungsten-Bold.ttf')  format('truetype');
	}

@font-face {
	font-family: 'TungstenSemibold';
	src: url('Tungsten-Semibold.woff') format('woff'), 
	     url('Tungsten-Semibold.ttf')  format('truetype');
	}


@font-face {
	font-family: 'TungstenMedium';
	src: url('Tungsten-Medium.woff') format('woff'), 
	     url('Tungsten-Medium.ttf')  format('truetype');
	}
