// -----------------------------------------------------------------------------
// This file contains styles that are specific to the archive page.
// -----------------------------------------------------------------------------
.archive .main, .page .main{
    position: relative;
}
.archive #top_links, .page #top_links{
    background-color: #787878!important;
}

.archive #content, .page #content{
	padding:0px;
	margin-top:0px;
	@include container(100%);
    @include breakpoint($xl-large){
        @include container(1425px); 
    }
}
.archive, .page{
	#main .archive_left{
        @include span(full);
@include breakpoint($medium){
		@include span (2 of 12 wide);
    }
        float: left;
        margin-right: 0;
        text-align: center;
        img{
           width: 100%;
           height: auto;
       }
       h4{
           display:block;
           border-bottom:1px solid #000;
           position: relative;
           @include font-size(16px);
           span{
              background: #fff;
              top:9px;
              padding:0 14px;
              text-transform: uppercase;
              position: relative;
              font-family: "Lato", "Arial", sans-serif;

          }
      }
  }
  #main .archive_right{
    /*padding-left: 42px;*/
    @include span(full);
@include breakpoint($medium){
    @include span (9 of 12 last);
}
    background-color:#f0f2f2;
    @include prefix (1 of 12);
}
.side_logo{
    margin-top:76px;
    margin-bottom: 60px;
    display: block;
}
h4.premiera{
    margin-bottom: 40px;
}
a.premiera_ksiazka{
    display: block;
    margin-bottom: 50px;
}
#menu-sidebar_categories{
    margin:30px 0 46px 0px;
    text-align: left;
    float: left;
    width:100%;
    li{
        position: relative;
        padding-left: 60px;
        margin-bottom: 6px;
        padding-top:2px;
        padding-bottom:2px;        
         width:100%;
        ul.sub-menu{
            width:240px;
            display:none;
            margin:0;
            position: absolute;
            right:-240px;
            top:-2px;

            li{
                background: none;
                width: 100%;
                border:2px solid #c6c6c6;
                text-align: center;
                padding-left:0px;
                margin-bottom:-2px;
                padding-top:0px;
                padding-bottom:0px;


                a{
                    font-family: "Lato", "Arial", sans-serif;
                    @include font-size(14px);
                    color:#000;
                     background:none;
                     padding-left:0px;
                     span{
                        padding-right:0px;
                        background: none;
                     }
                    &:hover{
                        color:$yellow;
                        font-weight: normal;
                    }

                }
            }
        }

        a{
                    background: url(../img/top_menu_yellow_big.png) left 2px;
        background-repeat: no-repeat;
        padding-left: 13px;
            color: #000;
            font-family: "Lato", "Arial", sans-serif;
            text-transform: uppercase;
            @include font-size(16px);
            span{
                background: url(../img/addow_down.png) right center;
        background-repeat: no-repeat;
        padding-right: 17px;
            }
        }
        &:hover {
            border:2px solid #c6c6c6;
             padding-top:0px;
        padding-bottom:0px;    
                -webkit-box-shadow: 0px 23px 15px -23px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 23px 15px -23px rgba(0,0,0,0.75);
box-shadow: 0px 23px 15px -23px rgba(0,0,0,0.75);


            a{
                text-decoration: none;
                span{
                background: url(../img/arrow_right_ywllow.png) right center;
        background-repeat: no-repeat;
        padding-right: 17px;
            }

            }
            ul.sub-menu{
                -webkit-box-shadow: 0px 23px 15px -23px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 23px 15px -23px rgba(0,0,0,0.75);
box-shadow: 0px 23px 15px -23px rgba(0,0,0,0.75);
                display:block;
                li{ background-color:#fff;

                 a{
                    font-weight: normal;
                    &:hover{
                 }
             }
         }
     }

 }

}

}
.rankingi_ul{
    margin:43px 0;
    li{
        text-align: left;
        background: url(../img/top_menu_yellow_big.png) left 6px;
        background-repeat: no-repeat;
        padding-left: 13px;
        a{
            color: #000;
            font-family: "Lato", "Arial", sans-serif;
            text-transform: uppercase;
            @include font-size(16px);
            font-weight: 500;

            &:hover{
                color:$yellow;
                text-decoration: none;
            }
        }
    }

}
h4.empty{
    margin:0 0 30px 0;
}
.widget_tag_cloud {
    list-style: none;
    h3{
        display:none;
    }
    .tagcloud{
        display: block;
        float: left;
        margin-top:38px;
        a{
            text-transform: uppercase;
            border:1px solid #b8b8b8;
            color:#b8b8b8;
            float:left;
            font-size:12px!important;
            padding:5px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 14px;
        }
    }
}
h4.szukaj_h4{
    margin-bottom:26px;
}
#searchform_sidebar{
    float: left;
    margin-bottom: 45px;
    width: 100%;
    position: relative;
}
input#searchsubmit_sidebar {
    background: url(../img/arrow_right_search_sidebar.png) center center;
    width:42px;
    height:42px;
    background-size: 11px 25px;
    background-repeat: no-repeat;
    border-radius: 0px;
    box-shadow:none;
    text-indent: 19999px;
    float:left;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border:0px;
    border-left:2px solid #c6c6c6;

}
input#s{
    float:left;
    border:2px solid #c6c6c6;
    border-radius: 0px;
    padding:8px;
    width: 100%;

}
article.archive_post{
}
.archive_post {
    background-color:#ffffff;
    margin-bottom:50px;
    padding-bottom:2px;
    h4{
        font-family: 'TungstenSemibold';
        font-size: 60px;
        font-size: 3.75rem;
        line-height: 60px;
        text-align: center;
        margin:40px 0 30px 0;
        padding:0 25px;
    }
    .archive_meta{
        text-align: center;

        margin-bottom: 40px;
        span{
            color:#898989;
            font-family: "Lato", "Arial", sans-serif;
            @include font-size(14px);
        }
        .archive_category{
            margin:0 16px;
            .big{
            text-transform: uppercase;
            color:$yellow;
        }
        }
        .archive_category,.archive_name{
            text-transform: capitalize;
        }
        .big{
            text-transform: uppercase;
        }

    }
    p{
       @extend %georgia;
        @include font-size(19px);
        line-height:28px;
        text-align: center;
        padding:0 20px;
        text-transform: capitalize;

    }
    .wiecej{
        display: block;
        text-align: center;
        margin:38px 0;
        a{
            color:#898989;
            font-family: "Lato", "Arial", sans-serif;
            @include font-size(14px);
            padding:5px 15px;
            border:1px solid #898989;
        }
    }


}


text-transform: uppercase;
}
.alm-listing{
    float: left;
}
.alm-btn-wrap{
    float: left;
}


.top_articles article{

}


.top_articles{
    article{
        position: relative;
        margin-right: 10px;
    }
    
    .reveal{
        padding:0;
        margin:0;
        text-align:right;
        right:10px;
        bottom:10px;
        top:auto;
        left:auto;
        border:none!important;
        position:absolute;
        h4{
            @include font-size(29px);
            text-align: right;
        }
        span.category{
            text-align: right;
        }
    }
}


.top_articles .reveal span.category {
    display: block;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color:#fff;
}

.top_articles .reveal h5 {
    font-family: 'TungstenMedium', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    margin-bottom: 8px;
    color:#fff;
}

.top_articles .typ_small .reveal h4 {
    font-size: 20px;
    text-align: right;
    color:#fff;
}
.top_articles{
    margin-top:40px;
}
.top_articles .reveal h4 {
    font-family: 'TungstenSemibold', Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform: uppercase;
}
.top_articles .typ_small{

}
.archwiumtop_carousell{

}
.archive_breadcrumbs{
    float: left;
    margin:55px 0 40px 0;
    width: 100%;
    display:block;
    color: #898989;
    font-family: "Lato", "Arial", sans-serif;
    text-transform: uppercase;
    @include font-size(14px);

}
.bread_outside{
    .breadcrumbs{
     position: relative;
     top: 5px;
     background-color: #f0f2f2;
     display: inline;
     padding-right: 10px;
 }
 position: relative;
 
 @include span(6 of 8 no-gutter);
 border-bottom:1px solid #898989;
 font-weight: 900;
 a{
    font-weight: 500;
    color: #898989;
}
}
.archive_sort{
    @include span(2  of 8 wide no-gutter);
    text-align: right;
}

select:required:invalid {
    color: #999;
}
option[value=””][disabled] {
    display: none;
}
option {
    color: #000;
}

.archive_sort select{
    width: 162px;
    font-family: "Lato", "Arial", sans-serif;
    text-transform: uppercase;
    @include font-size(14px);
    color:#898989;
    text-align: center;
    border:2px solid #c6c6c6;
    padding: 4px 0 4px 10px;
    margin-left: 11px;
}


.alm-btn-wrap {
    float: left;
    width: 100%;
    border-top: 1px solid #6a6a6a;
    overflow: visible;
}

button.alm-load-more-btn{   
    background:#fff!important;
    font-size:14px!important;
    font-family: "Lato", "Arial", sans-serif!important;
    color:#898989!important;
     border: 1px solid #6a6a6a!important;
     height:22px!important;
     line-height: 22px!important;
     border-radius: 0px;
     box-shadow: none;
     position: relative;
     top:-27px;
}

.right_bck{
 background-color: #f0f2f2;
    width: 50%;
    position: absolute;
    right: 0px;
    min-height: 100%;
    bottom: 0px;
    z-index: -1;
   }

   .top_articles, .archive_breadcrumbs{
    background-color:#f0f2f2;
   }
   .top_articles{
        padding-top: 40px;
        margin-top:0px;
   }
   .archive_breadcrumbs{
  padding: 55px 0 40px 0;
  margin:0
}


.autorzy_lista{
    background: #fff;
    padding:20px;
    float: left;

    li{
        padding-bottom: 29px;   
        @include gallery(3 of 12);
        text-align: center;
        h5{
        font-family: 'TungstenMedium';
        font-size: 24px;
        text-transform: capitalize;           

        }
        a.autorzy_wiecej{
                background: white;
    border: 1px solid #898989;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    color: #898989;
    text-transform: uppercase;
    padding: 5px 15px 6px 15px;
    top: 0px;
    position: relative;
        }

    }
}

.tax-autor{
    .o_autorze_left{
        @include span (2 of 8);
    }
    .o_autorze_right{
       @include span (6 of 8 last); 
    }
    .przystan_o_autorze{
        padding:30px 20px;
        background-color: white;
    }
    .o_autorze_bio{
        font-size: 14px !important;
    }
    .listCat{
        position: relative;
    }
}


.indexTekstow {
    padding-top:40px;
    .zasob{
        border-bottom: 1px solid black;
        padding-bottom:30px;
        margin-bottom:24px;
            display: block;
    float: left;
    width: 100%;
        .data_zasoby{
            @include span (1 of 8);
            font-family: "Lato", "Arial", sans-serif;
            font-size: 14px!important;
            color:#898989;
        }
        .content_zasoby{
             .tax-title{
                display: block;
                font-family: 'TungstenSemibold';
        font-size: 20px;
        color:#010000;
        a{
            color:#010000;
        }
            }
            @include span (7 of 8 last);
            font-family: "Lato", "Arial", sans-serif;
            font-size: 14px!important;
            color:#898989;
            a.cat_lin{
             color:#898989;
                font-family: "Lato", "Arial", sans-serif;
            font-size: 14px!important;
            display: block;
            b{
                color:#ffc807;
                font-weight: bold;
            }
           
            }
        }
    }
    .tytul_ksiazki_autor{
        display: block;
        a{
            @extend %georgiai;
            font-size: 18px!important;
            color:#000000;
            &:hover{
                @extend %georgiaz;
            }

        }
    }
    a.strona_autora{
        @include span (2 of 8);
         @extend %georgiab;
        @include font-size(18px);
         background: url(../img/plus.png) left -2px;
         background-repeat: no-repeat;
             padding: 3px 0 10px 38px;
         color:#000;

    }
    .taby{
        @include span (6 of 8 last);
        nav{
            margin-bottom: 20px;
            a{
                font-family: "Lato", "Arial", sans-serif;
                font-weight: 900;
                font-size: 14px;
                color:#000;
                margin-right: 80px;
            }
        }
    }
    .tab_content{
        @include span (full);
    }
    display: block;
    clear: both;
}


.archive_sort{
    p,form{
        display: inline-block;
    }
}


.teksty_autora {
    padding-top:40px;
    .zasob{
        border-bottom: 2px solid black;
        padding-bottom:30px;
        margin-bottom:24px;
            display: block;
    float: left;
    width: 100%;
        .data_zasoby{
            @include span (1 of 8);
            font-family: "Lato", "Arial", sans-serif;
            font-size: 14px!important;
            color:#898989;
        }
        .content_zasoby{
             .tax-title{
                display: block;
                font-family: 'TungstenSemibold';
        font-size: 20px;
        color:#010000;
        a{
            color:#010000;
        }
            }
            @include span (7 of 8 last);
            font-family: "Lato", "Arial", sans-serif;
            font-size: 14px!important;
            color:#898989;
            a.cat_lin{
             color:#898989;
                font-family: "Lato", "Arial", sans-serif;
            font-size: 14px!important;
            display: block;
            b{
                color:#ffc807;
                font-weight: bold;
            }
           
            }
        }
    }
    .tytul_ksiazki_autor{
        display: block;
        a{
            @extend %georgiai;
            font-size: 18px!important;
            color:#000000;
            &:hover{
                @extend %georgiaz;
            }

        }
    }
    a.strona_autora{
        @include span (2 of 8);
         @extend %georgiab;
        @include font-size(18px);
         background: url(../img/plus.png) left -2px;
         background-repeat: no-repeat;
             padding: 3px 0 10px 38px;
         color:#000;

    }
    .taby{
        @include span (6 of 8 last);
        nav{
            margin-bottom: 20px;
            a{
                font-family: "Lato", "Arial", sans-serif;
                font-weight: 900;
                font-size: 14px;
                color:#000;
                margin-right: 80px;
            }
        }
    }
    .tab_content{
        @include span (full);
    }
    display: block;
    clear: both;
}


.tax-autor .listCat {
margin-top: 10px;

}
.listCat {

font-family: 'TungstenMedium';
@include font-size(15px);
}

.pagination_links{
    border-bottom:1px solid #000000;
    margin-bottom:100px;
    .pagination{
        text-align: center;
        position: relative;
                top:16px;
        span{
            background:#f0f2f2;
            font-family: "Lato", "Arial", sans-serif;
            @include font-size(20px);
            color:#000000;
            padding:0 10px;
            span{
                color:#979797;
                padding:0;
            }
            div.next{
                position: relative;
                top:8px;
                display:inline-block;
                background: url('../img/pagination_left_grey.png') center center no-repeat;
                &:hover{
                   background: url('../img/pagination_left_black.png') center center no-repeat;
                }
                width:16px;
                height: 34px;
            }
             div.prev{
                position: relative;
                top:8px;
                display:inline-block;
                background: url('../img/pagination_lright_grey.png') center center no-repeat;
                &:hover{
                   background: url('../img/pagination_lright_black.png') center center no-repeat;
                }
                width:16px;
                height: 34px;
            }

        }
    }
}